
*{
    background-color: #000321;
    color: aliceblue;
    margin: 35px;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 3em;
    margin-top: 35px;
}

img{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    cursor: grab;
}
img:active{
    cursor: grabbing;
}

hr{
    color: aliceblue;
}

#answersTitle{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px;
}

#answers{
    background-color: royalblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    min-width: 775px;
    max-width: 775px;
    border: medium double aliceblue;
    border-radius: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
