
*{
    background-color: black;
}

body, h1, img, hr, p, ol{
    background-color: #000321;
}

body{
    border: 2px dotted #56c5cc;
    border-radius: .5em;
    padding: 5em;
    margin: 5em;
    width: 75%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #f14f7b;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 3em;
}

img{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    cursor: grab;
}
img:active{
    cursor: grabbing;
}

hr{
    border: .5em outset #56c5cc;
    margin: 2em;
}

#yellow{
    color: #f7aa1c;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 2em;
}

#pink{
    color: #f14f7b;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 2em;
}

#answers, li{
    background-color: #56c5cc;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    min-width: 775px;
    max-width: 775px;
    border: medium double #f7aa1c;
    border-radius: 5em;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}